<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>X community - To explore the world.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/xcommunity.css">
    <script type="application/javascript" src="/js/jquery-3.4.1.js"></script>
    <script type="application/javascript" src="/js/bootstrap.min.js"></script>
</head>
<script type="application/javascript">
    window.onload = function () {
        var closeable = window.localStorage.getItem("closable");
        var questionId = window.localStorage.getItem("questionId");
        if (closeable == "true") {
            window.localStorage.removeItem("closable");
            window.localStorage.removeItem("questionId");
            window.close();
            window.open("http://localhost:8080/question/"+questionId);
        }
    }
</script>
<body class="container .container-lg main" style="background-color: #d2d8de;">
    <div th:insert="navigation :: nav"></div>

    <div class="container-fluid x-main-content">
        <div class="row" id="main-content-row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-12" ><br>
                <h2>
                    <svg class="bi bi-list-ul" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm0-4a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm0-4a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm-3 1a1 1 0 100-2 1 1 0 000 2zm0 4a1 1 0 100-2 1 1 0 000 2zm0 4a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
                    </svg>
                    <span>Topics</span>
                </h2>
                <hr>
                <div th:if="${pagination!= null && pagination.totalPage != 0}">
                        <div class="media cell" th:each="q: ${pagination.getData()}">
                            <img th:if="${q.user != null }" th:src="${q.user.avatarUrl}" class="mr-3 " alt="..." >
                            <span class="media-body">
                                <a th:href="@{'/question/' + ${q.getId()}}">
                                    <span class="item_title" th:text="${q.title}"></span>
                                </a>
                                <div class="sep5"></div>
                                <div class="text-desc">
                                    <span  th:text="${q.viewCount}"></span> 次浏览 •
                                    <span th:text="${q.commentCount}"></span> 个评论 •
                                    <span th:text="${#dates.format(q.gmtCreate, 'yyyy-MM-dd HH:MM')}"></span>
                                </div>
                        </div>
                </div><br>
                <nav aria-label="Page navigation example" th:if="${pagination.totalPage > 0}">
                    <ul class="pagination">
                        <li th:if="${pagination.showFirstPage}" class="page-item"  >
                            <a class="page-link" href="/?page=1" aria-label="Previous">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>

                        <li th:if="${pagination.showPrevious}" class="page-item">
                            <a class="page-link" th:href="@{/(page=${pagination.page - 1})}">&lt;</a>
                        </li>
                        <li th:each="page : ${pagination.pages}" th:class="${pagination.page == page}? 'page-item active' : ''" >
                            <a class="page-link" th:href="@{/(page=${page})}" th:text="${page}"></a>
                        </li>
                        <li th:if="${pagination.showNext}" class="page-item">
                            <a class="page-link" th:href="@{/(page=${pagination.page + 1})}">&gt;</a>
                        </li>

                        <li th:if="${pagination.showEndPage}" class="page-item"  >
                            <a class="page-link" th:href="@{/(page=${pagination.totalPage})}" aria-label="Previous">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <span class="display-4" th:if="${pagination.totalPage == 0}">
                    Not found message...
                </span>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                <div th:insert="sidebar:: popular"></div>
            </div>

        </div>
    </div>

    <div th:insert="footer :: foot"></div>

</body>
</html>